<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	
  <siteMap defaultProvider="oldProvider">
    <providers>
      <clear />
      <add name="oldProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" />
      <add name="newProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web2.sitemap" />
    </providers>
  </siteMap>
  </system.web>
</configuration>
